In [3]:
import pandas as pd
import numpy as np
import sklearn

In [4]:
#Create dummy or indicator features for categorical variables
# Put this data into a variable  
wrangled_WHO_data = pd.read_csv(r'C:\Users\moder\Documents\Springboard\PROJECTS ASSIGNMENTS files and instructions\Capstones\Capstone 2\wrangled_WHO_data.csv')

wrangled_WHO_data.head()

,Country,Year,Status,Life_Expectancy,Adult Mortality,infant deaths,Alcohol,Percentage_Expenditure,Hepatitis B,Measles,...,Polio,Total_Expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income_Composition_Resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [5]:
#reminder - data types
wrangled_WHO_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       2938 non-null   object
 1   Year                          2938 non-null   int64
 2   Status                        2938 non-null   object
 3   Life_Expectancy               2938 non-null   float64
 4   Adult Mortality               2938 non-null   float64
 5   infant deaths                 2938 non-null   int64
 6   Alcohol                       2938 non-null   float64
 7   Percentage_Expenditure        2938 non-null   float64
 8   Hepatitis B                   2938 non-null   float64
 9   Measles                       2938 non-null   int64
 10  BMI                           2938 non-null   float64
 11  under-five deaths             2938 non-null   int64
 12  Polio                         2938 non-null   float64
 13  Total_Expenditure             2938 non-null   float64
 14  Diphtheria                    2938 non-null   float64
 15  HIV/AIDS                      2938 non-null   float64
 16  GDP                           2938 non-null   float64
 17  Population                    2938 non-null   float64
 18  thinness  1-19 years          2938 non-null   float64
 19  thinness 5-9 years            2938 non-null   float64
 20  Income_Composition_Resources  2938 non-null   float64
 21  Schooling                     2938 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [6]:
dfo = wrangled_WHO_data.select_dtypes(include=['object']) # select object type columns
wrangled_WHO_data = pd.concat([wrangled_WHO_data.drop(dfo, axis=1), pd.get_dummies(dfo)], axis=1)
wrangled_WHO_data.head()

,Year,Life_Expectancy,Adult Mortality,infant deaths,Alcohol,Percentage_Expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Country_Uruguay,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela (Bolivarian Republic of),Country_Viet Nam,Country_Yemen,Country_Zambia,Country_Zimbabwe,Status_Developed,Status_Developing
0,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,...,0,0,0,0,0,0,0,0,0,1
1,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,...,0,0,0,0,0,0,0,0,0,1
2,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,...,0,0,0,0,0,0,0,0,0,1
3,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,...,0,0,0,0,0,0,0,0,0,1
4,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,...,0,0,0,0,0,0,0,0,0,1

In [7]:
#Split your data into testing and training datasets
from sklearn.model_selection import train_test_split

X = wrangled_WHO_data.drop(columns = ['Life_Expectancy'])
print("X: ", type(X), X.shape)

X:  <class 'pandas.core.frame.DataFrame'> (2938, 214)

In [8]:
y = wrangled_WHO_data['Life_Expectancy']
print("y: ", type(y), y.shape)

y:  <class 'pandas.core.series.Series'> (2938,)

In [9]:
list(X.columns)

['Year',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'Percentage_Expenditure',
 'Hepatitis B',
 'Measles',
 'BMI',
 'under-five deaths',
 'Polio',
 'Total_Expenditure',
 'Diphtheria',
 'HIV/AIDS',
 'GDP',
 'Population',
 'thinness  1-19 years',
 'thinness 5-9 years',
 'Income_Composition_Resources',
 'Schooling',
 'Country_Afghanistan',
 'Country_Albania',
 'Country_Algeria',
 'Country_Angola',
 'Country_Antigua and Barbuda',
 'Country_Argentina',
 'Country_Armenia',
 'Country_Australia',
 'Country_Austria',
 'Country_Azerbaijan',
 'Country_Bahamas',
 'Country_Bahrain',
 'Country_Bangladesh',
 'Country_Barbados',
 'Country_Belarus',
 'Country_Belgium',
 'Country_Belize',
 'Country_Benin',
 'Country_Bhutan',
 'Country_Bolivia (Plurinational State of)',
 'Country_Bosnia and Herzegovina',
 'Country_Botswana',
 'Country_Brazil',
 'Country_Brunei Darussalam',
 'Country_Bulgaria',
 'Country_Burkina Faso',
 'Country_Burundi',
 'Country_Cabo Verde',
 'Country_Cambodia',
 'Country_Cameroon',
 'Country_Canada',
 'Country_Central African Republic',
 'Country_Chad',
 'Country_Chile',
 'Country_China',
 'Country_Colombia',
 'Country_Comoros',
 'Country_Congo',
 'Country_Cook Islands',
 'Country_Costa Rica',
 'Country_Croatia',
 'Country_Cuba',
 'Country_Cyprus',
 'Country_Czechia',
 "Country_Côte d'Ivoire",
 "Country_Democratic People's Republic of Korea",
 'Country_Democratic Republic of the Congo',
 'Country_Denmark',
 'Country_Djibouti',
 'Country_Dominica',
 'Country_Dominican Republic',
 'Country_Ecuador',
 'Country_Egypt',
 'Country_El Salvador',
 'Country_Equatorial Guinea',
 'Country_Eritrea',
 'Country_Estonia',
 'Country_Ethiopia',
 'Country_Fiji',
 'Country_Finland',
 'Country_France',
 'Country_Gabon',
 'Country_Gambia',
 'Country_Georgia',
 'Country_Germany',
 'Country_Ghana',
 'Country_Greece',
 'Country_Grenada',
 'Country_Guatemala',
 'Country_Guinea',
 'Country_Guinea-Bissau',
 'Country_Guyana',
 'Country_Haiti',
 'Country_Honduras',
 'Country_Hungary',
 'Country_Iceland',
 'Country_India',
 'Country_Indonesia',
 'Country_Iran (Islamic Republic of)',
 'Country_Iraq',
 'Country_Ireland',
 'Country_Israel',
 'Country_Italy',
 'Country_Jamaica',
 'Country_Japan',
 'Country_Jordan',
 'Country_Kazakhstan',
 'Country_Kenya',
 'Country_Kiribati',
 'Country_Kuwait',
 'Country_Kyrgyzstan',
 "Country_Lao People's Democratic Republic",
 'Country_Latvia',
 'Country_Lebanon',
 'Country_Lesotho',
 'Country_Liberia',
 'Country_Libya',
 'Country_Lithuania',
 'Country_Luxembourg',
 'Country_Madagascar',
 'Country_Malawi',
 'Country_Malaysia',
 'Country_Maldives',
 'Country_Mali',
 'Country_Malta',
 'Country_Marshall Islands',
 'Country_Mauritania',
 'Country_Mauritius',
 'Country_Mexico',
 'Country_Micronesia (Federated States of)',
 'Country_Monaco',
 'Country_Mongolia',
 'Country_Montenegro',
 'Country_Morocco',
 'Country_Mozambique',
 'Country_Myanmar',
 'Country_Namibia',
 'Country_Nauru',
 'Country_Nepal',
 'Country_Netherlands',
 'Country_New Zealand',
 'Country_Nicaragua',
 'Country_Niger',
 'Country_Nigeria',
 'Country_Niue',
 'Country_Norway',
 'Country_Oman',
 'Country_Pakistan',
 'Country_Palau',
 'Country_Panama',
 'Country_Papua New Guinea',
 'Country_Paraguay',
 'Country_Peru',
 'Country_Philippines',
 'Country_Poland',
 'Country_Portugal',
 'Country_Qatar',
 'Country_Republic of Korea',
 'Country_Republic of Moldova',
 'Country_Romania',
 'Country_Russian Federation',
 'Country_Rwanda',
 'Country_Saint Kitts and Nevis',
 'Country_Saint Lucia',
 'Country_Saint Vincent and the Grenadines',
 'Country_Samoa',
 'Country_San Marino',
 'Country_Sao Tome and Principe',
 'Country_Saudi Arabia',
 'Country_Senegal',
 'Country_Serbia',
 'Country_Seychelles',
 'Country_Sierra Leone',
 'Country_Singapore',
 'Country_Slovakia',
 'Country_Slovenia',
 'Country_Solomon Islands',
 'Country_Somalia',
 'Country_South Africa',
 'Country_South Sudan',
 'Country_Spain',
 'Country_Sri Lanka',
 'Country_Sudan',
 'Country_Suriname',
 'Country_Swaziland',
 'Country_Sweden',
 'Country_Switzerland',
 'Country_Syrian Arab Republic',
 'Country_Tajikistan',
 'Country_Thailand',
 'Country_The former Yugoslav republic of Macedonia',
 'Country_Timor-Leste',
 'Country_Togo',
 'Country_Tonga',
 'Country_Trinidad and Tobago',
 'Country_Tunisia',
 'Country_Turkey',
 'Country_Turkmenistan',
 'Country_Tuvalu',
 'Country_Uganda',
 'Country_Ukraine',
 'Country_United Arab Emirates',
 'Country_United Kingdom of Great Britain and Northern Ireland',
 'Country_United Republic of Tanzania',
 'Country_United States of America',
 'Country_Uruguay',
 'Country_Uzbekistan',
 'Country_Vanuatu',
 'Country_Venezuela (Bolivarian Republic of)',
 'Country_Viet Nam',
 'Country_Yemen',
 'Country_Zambia',
 'Country_Zimbabwe',
 'Status_Developed',
 'Status_Developing']

In [10]:
Xlr, Xtestlr, ylr, ytestlr = train_test_split(X, y, random_state = 2)
print('Training split has ', Xlr.shape[0], ' rows\n',
      'and the corresponding labels have an equal number of values.', 
      '(' + str(len(ylr))+ ')')
print('Test split has ', Xtestlr.shape[0], ' rows\n',
      'and the corresponding labels have an equal number of values.', 
      '(' + str(len(ytestlr)) + ')')

Training split has  2203  rows
 and the corresponding labels have an equal number of values. (2203)
Test split has  735  rows
 and the corresponding labels have an equal number of values. (735)

In [12]:
#Standardize the magnitude of numeric features using a scaler
from sklearn.preprocessing import StandardScaler

# define standard scaler
scaler = StandardScaler()

# transform data
scaled = scaler.fit_transform(Xlr)
scaled_df = pd.DataFrame(scaled)
scaled_df

,0,1,2,3,4,5,6,7,8,9,...,204,205,206,207,208,209,210,211,212,213
0,0.961691,0.851341,0.300756,-1.136764,-0.409096,-0.472808,0.004439,-1.009609,0.290215,-0.659689,...,-0.077046,-0.074006,-0.070840,-0.07084,-0.077046,-0.074006,-0.082798,-0.074006,-0.455834,0.455834
1,0.744287,-1.107919,0.119669,-1.056584,-0.436925,-2.985097,-0.053338,-1.760409,0.096832,-3.134133,...,-0.077046,-0.074006,-0.070840,-0.07084,-0.077046,-0.074006,-0.082798,-0.074006,-0.455834,0.455834
2,-0.125331,-0.068312,-0.267200,-0.886203,-0.279933,-2.905341,-0.212867,0.432326,-0.271806,-0.659689,...,-0.077046,-0.074006,14.116399,-0.07084,-0.077046,-0.074006,-0.082798,-0.074006,-0.455834,0.455834
3,-0.560140,-0.220254,-0.234275,-0.645664,-0.399526,0.803275,-0.212633,-1.059330,-0.241590,0.705522,...,-0.077046,-0.074006,-0.070840,-0.07084,-0.077046,-0.074006,-0.082798,-0.074006,-0.455834,0.455834
4,-0.777544,0.227576,-0.234275,-0.184632,-0.429312,0.005723,-0.212867,0.387576,-0.247633,-3.176796,...,-0.077046,-0.074006,-0.070840,-0.07084,-0.077046,-0.074006,-0.082798,-0.074006,-0.455834,0.455834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2198,-0.342735,-0.812031,-0.267200,0.489378,2.665383,-1.476869,-0.211386,0.884795,-0.271806,0.662859,...,-0.077046,-0.074006,-0.070840,-0.07084,-0.077046,-0.074006,-0.082798,-0.074006,2.193779,-2.193779
2199,1.179096,-0.700073,-0.267200,1.248578,-0.320353,0.763398,-0.212789,1.043905,-0.271806,0.534870,...,-0.077046,-0.074006,-0.070840,-0.07084,-0.077046,-0.074006,-0.082798,-0.074006,2.193779,-2.193779
2200,0.309478,-0.724064,-0.267200,-0.740877,-0.398189,0.763398,-0.212399,-0.830610,-0.271806,0.662859,...,-0.077046,-0.074006,-0.070840,-0.07084,-0.077046,-0.074006,-0.082798,-0.074006,-0.455834,0.455834
2201,0.744287,-0.020330,-0.209581,-0.948843,0.824811,-0.512686,-0.211853,0.760490,-0.223460,-3.262121,...,-0.077046,-0.074006,-0.070840,-0.07084,-0.077046,-0.074006,-0.082798,-0.074006,-0.455834,0.455834
2202,0.309478,-1.195886,-0.176656,0.334030,-0.179890,0.763398,0.260497,-0.552167,-0.199287,0.705522,...,-0.077046,-0.074006,-0.070840,-0.07084,-0.077046,-0.074006,-0.082798,-0.074006,-0.455834,0.455834