In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve

In [2]:
# Put this data into a variable  
wrangled_WHO_data = pd.read_csv(r'C:\Users\moder\Documents\Springboard\PROJECTS ASSIGNMENTS files and instructions\Capstones\Capstone 2\wrangled_WHO_data.csv')

wrangled_WHO_data.head().T

,0,1,2,3,4
Country,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan
Year,2015,2014,2013,2012,2011
Status,Developing,Developing,Developing,Developing,Developing
Life_Expectancy,65.0,59.9,59.9,59.5,59.2
Adult Mortality,263.0,271.0,268.0,272.0,275.0
infant deaths,62,64,66,69,71
Alcohol,0.01,0.01,0.01,0.01,0.01
Percentage_Expenditure,71.279624,73.523582,73.219243,78.184215,7.097109
Hepatitis B,65.0,62.0,64.0,67.0,68.0
Measles,1154,492,430,2787,3013
BMI,19.1,18.6,18.1,17.6,17.2
under-five deaths,83,86,89,93,97
Polio,6.0,58.0,62.0,67.0,68.0
Total_Expenditure,8.16,8.18,8.13,8.52,7.87
Diphtheria,65.0,62.0,64.0,67.0,68.0
HIV/AIDS,0.1,0.1,0.1,0.1,0.1
GDP,584.25921,612.696514,631.744976,669.959,63.537231
Population,33736494.0,327582.0,31731688.0,3696958.0,2978599.0
thinness 1-19 years,17.2,17.5,17.7,17.9,18.2
thinness 5-9 years,17.3,17.5,17.7,18.0,18.2
Income_Composition_Resources,0.479,0.476,0.47,0.463,0.454
Schooling,10.1,10.0,9.9,9.8,9.5

In [3]:
#reminder - data types
wrangled_WHO_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       2938 non-null   object
 1   Year                          2938 non-null   int64
 2   Status                        2938 non-null   object
 3   Life_Expectancy               2938 non-null   float64
 4   Adult Mortality               2938 non-null   float64
 5   infant deaths                 2938 non-null   int64
 6   Alcohol                       2938 non-null   float64
 7   Percentage_Expenditure        2938 non-null   float64
 8   Hepatitis B                   2938 non-null   float64
 9   Measles                       2938 non-null   int64
 10  BMI                           2938 non-null   float64
 11  under-five deaths             2938 non-null   int64
 12  Polio                         2938 non-null   float64
 13  Total_Expenditure             2938 non-null   float64
 14  Diphtheria                    2938 non-null   float64
 15  HIV/AIDS                      2938 non-null   float64
 16  GDP                           2938 non-null   float64
 17  Population                    2938 non-null   float64
 18  thinness  1-19 years          2938 non-null   float64
 19  thinness 5-9 years            2938 non-null   float64
 20  Income_Composition_Resources  2938 non-null   float64
 21  Schooling                     2938 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [4]:
wrangled_WHO_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       2938 non-null   object
 1   Year                          2938 non-null   int64
 2   Status                        2938 non-null   object
 3   Life_Expectancy               2938 non-null   float64
 4   Adult Mortality               2938 non-null   float64
 5   infant deaths                 2938 non-null   int64
 6   Alcohol                       2938 non-null   float64
 7   Percentage_Expenditure        2938 non-null   float64
 8   Hepatitis B                   2938 non-null   float64
 9   Measles                       2938 non-null   int64
 10  BMI                           2938 non-null   float64
 11  under-five deaths             2938 non-null   int64
 12  Polio                         2938 non-null   float64
 13  Total_Expenditure             2938 non-null   float64
 14  Diphtheria                    2938 non-null   float64
 15  HIV/AIDS                      2938 non-null   float64
 16  GDP                           2938 non-null   float64
 17  Population                    2938 non-null   float64
 18  thinness  1-19 years          2938 non-null   float64
 19  thinness 5-9 years            2938 non-null   float64
 20  Income_Composition_Resources  2938 non-null   float64
 21  Schooling                     2938 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [5]:
#it's turning out that I need to just replace STATUS since there are only two values with 0 and 1 - I proceeded otherwise and it is producing some problems
wrangled_WHO_data.Status.replace(['Developed', 'Developing'], [1, 0], inplace=True)

In [6]:
wrangled_WHO_data.head().T

,0,1,2,3,4
Country,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan
Year,2015,2014,2013,2012,2011
Status,0,0,0,0,0
Life_Expectancy,65.0,59.9,59.9,59.5,59.2
Adult Mortality,263.0,271.0,268.0,272.0,275.0
infant deaths,62,64,66,69,71
Alcohol,0.01,0.01,0.01,0.01,0.01
Percentage_Expenditure,71.279624,73.523582,73.219243,78.184215,7.097109
Hepatitis B,65.0,62.0,64.0,67.0,68.0
Measles,1154,492,430,2787,3013
BMI,19.1,18.6,18.1,17.6,17.2
under-five deaths,83,86,89,93,97
Polio,6.0,58.0,62.0,67.0,68.0
Total_Expenditure,8.16,8.18,8.13,8.52,7.87
Diphtheria,65.0,62.0,64.0,67.0,68.0
HIV/AIDS,0.1,0.1,0.1,0.1,0.1
GDP,584.25921,612.696514,631.744976,669.959,63.537231
Population,33736494.0,327582.0,31731688.0,3696958.0,2978599.0
thinness 1-19 years,17.2,17.5,17.7,17.9,18.2
thinness 5-9 years,17.3,17.5,17.7,18.0,18.2
Income_Composition_Resources,0.479,0.476,0.47,0.463,0.454
Schooling,10.1,10.0,9.9,9.8,9.5

In [7]:
wrangled_WHO_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       2938 non-null   object
 1   Year                          2938 non-null   int64
 2   Status                        2938 non-null   int64
 3   Life_Expectancy               2938 non-null   float64
 4   Adult Mortality               2938 non-null   float64
 5   infant deaths                 2938 non-null   int64
 6   Alcohol                       2938 non-null   float64
 7   Percentage_Expenditure        2938 non-null   float64
 8   Hepatitis B                   2938 non-null   float64
 9   Measles                       2938 non-null   int64
 10  BMI                           2938 non-null   float64
 11  under-five deaths             2938 non-null   int64
 12  Polio                         2938 non-null   float64
 13  Total_Expenditure             2938 non-null   float64
 14  Diphtheria                    2938 non-null   float64
 15  HIV/AIDS                      2938 non-null   float64
 16  GDP                           2938 non-null   float64
 17  Population                    2938 non-null   float64
 18  thinness  1-19 years          2938 non-null   float64
 19  thinness 5-9 years            2938 non-null   float64
 20  Income_Composition_Resources  2938 non-null   float64
 21  Schooling                     2938 non-null   float64
dtypes: float64(16), int64(5), object(1)
memory usage: 505.1+ KB

In [8]:
#Split data into testing and training datasets
from sklearn.model_selection import train_test_split

X = wrangled_WHO_data.drop(columns = ['Life_Expectancy'])
print("X: ", type(X), X.shape)

X:  <class 'pandas.core.frame.DataFrame'> (2938, 21)

In [9]:
y = wrangled_WHO_data['Life_Expectancy']
print("y: ", type(y), y.shape)

y:  <class 'pandas.core.series.Series'> (2938,)

In [10]:
list(X.columns)

['Country',
 'Year',
 'Status',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'Percentage_Expenditure',
 'Hepatitis B',
 'Measles',
 'BMI',
 'under-five deaths',
 'Polio',
 'Total_Expenditure',
 'Diphtheria',
 'HIV/AIDS',
 'GDP',
 'Population',
 'thinness  1-19 years',
 'thinness 5-9 years',
 'Income_Composition_Resources',
 'Schooling']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=47)
print('Training split has ', X_train.shape[0], ' rows\n',
      'and the corresponding labels have an equal number of values.', 
      '(' + str(len(y_train))+ ')')
print('Test split has ', X_test.shape[0], ' rows\n',
      'and the corresponding labels have an equal number of values.', 
      '(' + str(len(y_test)) + ')')

Training split has  2056  rows
 and the corresponding labels have an equal number of values. (2056)
Test split has  882  rows
 and the corresponding labels have an equal number of values. (882)

In [12]:
#Save the COUNTRY column from the train/test data into country_train and country_test
#Then drop those columns from `X_train` and `X_test`. Use 'inplace=True'
country_list = ['Country']
country_train = X_train[country_list]
country_test = X_test[country_list]
X_train.drop(columns=country_list, inplace=True)
X_test.drop(columns=country_list, inplace=True)
X_train.shape, X_test.shape

((2056, 20), (882, 20))

In [13]:
#Recalling the guided capstone, it had us consider the MEAN - how good the mean is as a predictor?

#Fit the dummy regressor on the training data
from sklearn.dummy import DummyRegressor

dumb_reg = DummyRegressor(strategy='mean')
dumb_reg.fit(X_train, y_train)
dumb_reg.constant_

array([[69.21330253]])

In [14]:
#check out some metrics - again referring back to guided capstone
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

#r^2
y_tr_pred = dumb_reg.predict(X_train)
y_tr_pred[:5]

array([69.21330253, 69.21330253, 69.21330253, 69.21330253, 69.21330253])

In [15]:
#Calculate the R^2 - amount of variance
def r_squared(y, ypred):
    """R-squared score.
    
    Calculate the R-squared, or coefficient of determination, of the input.
    
    Arguments:
    y -- the observed values
    ypred -- the predicted values
    """
      
    ybar = np.sum(y) / len(y) #yes, we could use np.mean(y)
    sum_sq_tot = np.sum((y - ybar)**2) #total sum of squares error
    sum_sq_res = np.sum((y - ypred)**2) #residual sum of squares error
    R2 = 1.0 - sum_sq_res / sum_sq_tot
    return R2

r_squared(y_train, y_tr_pred)

0.0

If you use the average value as your prediction, you get an R^2 of zero on our training set. What if you use this "model" to predict unseen values from the test set? Remember, of course, that your "model" is trained on the training set; you still use the training set mean as your prediction.

Make your predictions by creating an array of length the size of the test set with the single value of the (training) mean.

In [16]:
#Calculate the mean of `y_train`
train_mean = y_train.mean()
train_mean

69.21330252918287

In [17]:
y_te_pred = train_mean * np.ones(len(y_test))
r_squared(y_test, y_te_pred)

-2.966948822180626e-07

In [18]:
#use sklearn to compare
r2_score(y_train, y_tr_pred), r2_score(y_test, y_te_pred)

(0.0, -2.966948822180626e-07)

OK this fits the data really poorly!

In [19]:
#now mean absolute error
#Calculate the MAE
def mae(y, ypred):
    """Mean absolute error.
    
    Calculate the mean absolute error of the arguments

    Arguments:
    y -- the observed values
    ypred -- the predicted values
    """
    abs_error = np.abs(y - ypred)
    mae = np.mean(abs_error)
    return mae

In [20]:
mae(y_train, y_tr_pred)

7.742473840444215

In [21]:
mae(y_test, y_te_pred)

7.863213855581136

In [22]:
#use sklearn
mean_absolute_error(y_train, y_tr_pred), mean_absolute_error(y_test, y_te_pred)

(7.742473840444217, 7.8632138555811455)

SO this is saying that this essentially says, on average, we'd be off by around 8 (eight) years (of life expectancy) if we guessed based on an average of known values.

In [23]:
#mean squared error
#Calculate the MSE - the average squared difference between the estimated values and true value
def mse(y, ypred):
    """Mean square error.
    
    Calculate the mean square error of the arguments

    Arguments:
    y -- the observed values
    ypred -- the predicted values
    """
    sq_error = (y - ypred)**2
    mse = np.mean(sq_error)
    return mse

In [24]:
mse(y_train, y_tr_pred)

89.59288602909847

In [25]:
mse(y_test, y_te_pred)

92.36437481135957

In [26]:
#try sklearn
mean_squared_error(y_train, y_tr_pred), mean_squared_error(y_test, y_te_pred)

(89.59288602909866, 92.36437481135945)

In [27]:
np.sqrt([mse(y_train, y_tr_pred), mse(y_test, y_te_pred)])

array([9.46535187, 9.61063863])

Error on both train and test about 9-10 (life expectancy years).

In [28]:
#Standardize the magnitude of numeric features using a scaler
from sklearn.preprocessing import StandardScaler

# define standard scaler
scaler = StandardScaler()

# transform data
#Call the StandardScaler`s fit method on `X_tr` to fit the scaler
#then use it's `transform()` method to apply the scaling to both the train and test split
scaler.fit(X_train)
X_tr_scaled = scaler.transform(X_train)
X_te_scaled = scaler.transform(X_test)